<!-- Material form subscription -->
<mdb-card class="w-50 col-md-6 offset-md-3 mt-5">

  <mdb-card-header class="elegant-color white-text text-center py-4">
    <h5>
      <strong>Login</strong>
    </h5>
  </mdb-card-header>

  <!--Card content-->
  <mdb-card-body class="px-lg-5">

    <!-- Form -->
    <form class="text-center" style="color: #757575;">

      <p>Entre com sua matricula</p>

      <p>
        <a href="" >Veja seus dados.</a>
      </p>

      <!-- Name -->
      <div class="md-form mt-3">
        <input type="text" name="matricula" [(ngModel)]="login.matricula" id="materialSubscriptionFormPasswords" class="form-control" mdbInput>
        <label for="materialSubscriptionFormPasswords">Matricula</label>
      </div>

      <!-- E-mai -->
      <div class="md-form">
        <input type="password" name="password" [(ngModel)]="login.senha" id="materialSubscriptionFormEmail" class="form-control" mdbInput>
        <label for="materialSubscriptionFormEmail">Senha</label>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="info" (click)="loginUsuario()" routerLinkActive="router-link-active"  rounded="true" block="true" mdbBtn color="dark" mdbWavesEffect
        class="z-depth-0 my-4 waves-effect" type="submit">Entrar</button>
      <p>
        <a [routerLink]="['/cadastro']" routerLinkActive="router-link-active">Cadastre-se</a>
      </p>

    </form>
    <!-- Form -->

  </mdb-card-body>

</mdb-card>
<!-- Material form subscription -->