<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">AHUSDHAUSIFPB</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> Perfil<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container">

    <div class="row">
        <h2 class="h2-responsive mt-4 col-md-6 offset-md-3">NOME DO ALUNO MUITO GRANDE</h2>
    </div>

    <hr class="w-75">

    <div class="row">
        <div class="input-group mb-3">
            <select class="custom-select" id="inputGroupSelect02">
                <option selected>Escolher Matricula ... </option>
                <option value="1">2016220101256</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">Matriculas</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h4>
                Situação:
                <small class="text-muted"> Jubilado</small>
            </h4>
        </div>
        <div class="col-3">
            <h4>
                Curso:
                <small class="text-muted"> Análise e Desenvolvimento de Sistemas</small>
            </h4>
        </div>
        <div class="col-3">
            <h4>
                Cota:
                <small class="text-muted"> Ampla Concorrencia</small>
            </h4>
        </div>
        <div class="col-3">
            <h4>
                Campus:
                <small class="text-muted"> Cajazeiras</small>
            </h4>
        </div>
    </div>

    <hr class="w-75">

    <div class="row">
        <h2 class="h2-responsive mt-2 col-md-6 offset-md-5">Projetos</h2>
    </div>

    <hr class="w-75">

    <div class="row">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            NOME DE PROJETO EXTREMAMANETE GIGANTESCO MESMO
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            NOME DE PROJETO EXTREMAMANETE GIGANTESCO MESMO DNV PQ ESSE E GRANDE MESMO
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            NOME DE PROJETO EXTREMAMANETE GIGANTESCO MESMO 3 PRA FICAR IGUAL
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="w-75">

    <div class="row">
        <h2 class="h2-responsive mt-2 col-md-6 offset-md-5">Bolsas</h2>
    </div>

    <hr class="w-75">

    <div class="row">
        <div class="col-4">
            <!-- Material form subscription -->
            <mdb-card class="col-md-6 offset-md-3 mt-5">

                <mdb-card-header class="elegant-color white-text text-center py-4">
                    <h5>
                        <strong>Moradia</strong>
                    </h5>
                </mdb-card-header>

                <!--Card content-->
                <mdb-card-body class="px-lg-5">

                    <h4 class="ml-3">4</h4>

                </mdb-card-body>

            </mdb-card>
            <!-- Material form subscription -->
        </div>

        <div class="col-4">
            <!-- Material form subscription -->
            <mdb-card class="col-md-6 offset-md-3 mt-5">

                <mdb-card-header class="elegant-color white-text text-center py-4">
                    <h5>
                        <strong>Almoço</strong>
                    </h5>
                </mdb-card-header>

                <!--Card content-->
                <mdb-card-body class="px-lg-5">

                    <h4 class="ml-3">2</h4>

                </mdb-card-body>

            </mdb-card>
            <!-- Material form subscription -->
        </div>

        <div class="col-4">
            <!-- Material form subscription -->
            <mdb-card class="col-md-6 offset-md-3 mt-5">

                <mdb-card-header class="elegant-color white-text text-center py-4">
                    <h5>
                        <strong>Jantar</strong>
                    </h5>
                </mdb-card-header>

                <!--Card content-->
                <mdb-card-body class="px-lg-5">

                    <h4 class="ml-3">1</h4>

                </mdb-card-body>

            </mdb-card>
            <!-- Material form subscription -->
        </div>
    </div>

</div>

<br>

<!-- Footer -->
<footer class="page-footer font-small green">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Copyright:
          <a href="https://Raul-Coelho.github.io"> Raul Coelho</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->