<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand text-center" href="#">MELHOR QUE O SUAP IFPB</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> Perfil<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" (click)="logout()" mdbWavesEffect href="#">Log out</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container" *ngIf="aluno">

    <div class="row">
        <h2 class="h2-responsive mt-4 col-md-6 offset-md-4">{{aluno.nome}}</h2>
    </div>

    <hr class="w-75">

    <div class="row">
        <div class="input-group mb-3">
            <select class="custom-select" (change)="mudarInformacoes($event.target.value)" id="inputGroupSelect02">
                <option *ngFor="let matricula of aluno.matriculas">{{matricula.valor}}</option>
            </select>
            <div class="input-group-append">
                <label class="input-group-text" for="inputGroupSelect02">Matriculas</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <h4>
                Situação:
                <small class="text-muted">{{matriculaLogin.situacao}}</small>
            </h4>
        </div>
        <div class="col-3">
            <h4>
                Curso:
                <small class="text-muted">{{matriculaLogin.curso}}</small>
            </h4>
        </div>
        <div class="col-3">
            <h4>
                Cota:
                <small class="text-muted">{{matriculaLogin.cota}}</small>
            </h4>
        </div>
        <div class="col-3">
            <h4>
                Campus:
                <small class="text-muted">{{matriculaLogin.campus}}</small>
            </h4>
        </div>
    </div>

    <hr class="w-75">

    <div class="row">
        <h2 class="h2-responsive mt-2 col-md-6 offset-md-5">Projetos</h2>
    </div>

    <hr class="w-75">

    <div class="row offset-md-1" *ngFor="let projeto of aluno.projetos">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            {{projeto.titulo}}
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" [ngClass]="{'show': verificarShow(projeto.titulo)}"
                    aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <h6 class="size projeto">
                                    Tipo do Projeto:
                                    <small class="text-muted">{{projeto.tipo}}</small>
                                </h6>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <h6 class="projeto">
                                    Participantes:
                                    <small class="text-muted">{{projeto.participantes}}</small>
                                </h6>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-12">
                                <h6 class="projeto">
                                    Área de Conhecimento:
                                    <small class="text-muted">{{projeto.areaConhecimento}}</small>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="w-75">

    <div class="row">
        <h2 class="h2-responsive mt-2 col-md-6 offset-md-5">Bolsas</h2>
    </div>

    <hr class="w-75">

    <div class="row">
        <div class="col-4" *ngFor="let bolsa of aluno.bolsas">
            <mdb-card class="col-md-6 offset-md-3 mt-5">

                <mdb-card-header class="elegant-color white-text text-center py-4">
                    <h5>
                        <strong>{{bolsa.categoria}}</strong>
                    </h5>
                </mdb-card-header>

                <mdb-card-body class="px-lg-5">

                    <h4 class="ml-3">{{bolsa.quantidade}}</h4>

                </mdb-card-body>

            </mdb-card>
            
        </div>
    </div>

</div>

<br>

<!-- Footer -->
<footer class="page-footer font-small green">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://Raul-Coelho.github.io"> MITC</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->